.form {
    width: 360px;
    height: 72px;
}

.input-delay {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 354px;
    height: 38px;
    margin-top: 8px;
}

.input-radio {
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    width: 332px;
    height: 48px;
    margin: 34px 0 0 0;
    margin-inline-end: 0;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    text-align: center;
    margin-top: 20px;
}

.iziToast-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 36px;
    /* Відступ зверху */
    right: 156px;
    /* Відступ з правого боку */
    z-index: 1000;
    /* Забезпечує, що контейнер буде над іншими елементами */
}